/* CUSTOM PROPERTIES */
:root {
  /* COLORS */
  --clr-primary-100: hsl(30, 38%, 92%);
  --clr-primary-200: hsl(158, 36%, 37%);

  --clr-secondary-100: hsl(0, 0%, 100%);
  --clr-secondary-200: hsl(228, 12%, 58%);
  --clr-secondary-300: hsl(212, 21%, 14%);

  /* FONTS */
  --ff-primary: "Fraunces", serif;
  --ff-secondary: "Montserrat", sans-serif;

  /* FONT SIZES */
  --fs-heading: 2rem;
  --fs-body: 0.875rem;
  --fs-body-2: 0.75rem;
  --fs-tag-1: 2rem;
  --fs-tag-2: 0.8rem;
  --fs-button: 0.9rem;

  /* FONT WEIGHTS */
  --fw-100: 500;
  --fw-200: 700;

  /* BREAKPOINTS */
  --mobile: 23.4375em;
}

/* RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* GLOBALS */
body {
  background-color: var(--clr-primary-100);
}

.product-card {
  background-color: var(--clr-secondary-100);
}

/* TYPOGRAPHY */
.product-card__info--title {
  font-family: var(--ff-primary);
  font-size: var(--fs-heading);
  font-weight: var(--fw-200);
  color: var(--clr-secondary-300);
  margin-bottom: 0.5em;
  line-height: 1.1;
}

.product-card__info--desc {
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  font-weight: var(--fw-100);
  color: var(--clr-secondary-200);
  line-height: 1.6;
  margin-bottom: 1.5em;
}

.product-card__info--category {
  font-family: var(--ff-secondary);
  font-size: var(--fs-body-2);
  font-weight: var(--fw-100);
  color: var(--clr-secondary-200);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  margin-bottom: 1em;
}

.product-card__info__price-tag {
  font-family: var(--ff-primary);
  margin-bottom: 1em;
}

.product-card__info__price-tag--current {
  font-size: var(--fs-tag-1);
  color: var(--clr-primary-200);
}

.product-card__info__price-tag--old {
  font-family: var(--ff-secondary);
  font-size: var(--fs-tag-2);
  color: var(--clr-secondary-200);
  text-decoration: line-through;
}

.button {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-200);
  font-size: var(--fs-button);
  color: var(--clr-secondary-100);
}

i {
  font-size: 1.3rem;
}

/* COMPONENTS */

.product-card {
  width: min(90%, 36.5em);
  display: grid;
  grid-template-rows: 15.625em auto;
  border-radius: 0.5em;
}

.product-card__info {
  padding: 1.6em;
}

.product-card__info__price-tag {
  display: flex;
  align-items: center;
  gap: 1.25em;
}

.product-card__image img {
  object-position: 0% 48%;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.button {
  width: 100%;
  background-color: var(--clr-primary-200);
  padding: 0.9em 1.5em;
  border: unset;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover,
.button:active {
  background-color: hsl(158, 36%, 20%);
}

/* LAYOUT */
.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

/* MEDIA QUERIES */

@media screen and (min-width: 39em) {
  .product-card {
    display: grid;
    grid-template-rows: initial;
    grid-template-columns: 1fr 1fr;
    border-radius: 0.5em;
  }

  .product-card__info {
    padding: 1.8em;
  }

  .product-card__info--title {
    margin-bottom: 1em;
  }

  .product-card__info--category {
    margin-bottom: 1.5em;
  }

  .product-card__image img {
    border-top-left-radius: 0.5em;
    border-top-right-radius: unset;
    border-bottom-left-radius: 0.5em;
  }

  .button {
    margin-top: 2em;
  }
}
