:root {
  /* COLORS */
  --clr-primary-100: hsl(30, 38%, 92%);
  --clr-primary-200: hsl(158, 36%, 37%);

  --clr-secondary-100: hsl(0, 0%, 100%);
  --clr-secondary-200: hsl(228, 12%, 48%);
  --clr-secondary-300: hsl(212, 21%, 14%);

  /* FONTS */
  --ff-primary: "Fraunces", serif;
  --ff-secondary: "Montserrat", sans-serif;

  /* FONT SIZES */
  --fs-heading: 1.8rem;
  --fs-body: 0.875rem;
  --fs-tag-1: 1.8rem;
  --fs-tag-2: 0.875rem;

  /* FONT WEIGHTS */
  --fw-100: 500;
  --fw-200: 700;

  /* BREAKPOINTS */
  --bp-mobile: 23.4375em;
}

/* RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

img {
  width: 100%;
}

/* TYPOGRAPHY */
.product-card__info--title {
  font-family: var(--ff-primary);
  font-size: var(--fs-heading);
  font-weight: var(--fw-200);
  color: var(--clr-secondary-300);
  margin: 0.6em auto;
}

.product-card__info--desc {
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  font-weight: var(--fw-100);
  color: var(--clr-secondary-200);
  line-height: 1.3;
}

.product-card__info--category {
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  font-weight: var(--fw-100);
  color: var(--clr-secondary-200);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
}

.product-card__info__price-tag {
  font-family: var(--ff-primary);
}

.product-card__info__price-tag--current {
  font-size: var(--fs-tag-1);
  color: var(--clr-primary-200);
}

.product-card__info__price-tag--old {
  font-family: var(--ff-secondary);
  font-size: var(--fs-tag-2);
  color: var(--clr-secondary-200);
  text-decoration: line-through;
}
